{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<!-- Cabecera -->
<header class="masthead" style="background-image: url('{% static "img/about-bg.jpg" %}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Acerca de mi</h1>
          <span class="subheading">Biografía</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container mt-4">
  <div class="row">
    <div class="col-lg-3 col-md-4 offset-lg-1">
      <img class="img-fluid avatar" src="{% static 'img/avatar.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
      <h2 class="section-heading">Geovanny Josue Garcia Pinargote</h2>
        <p>Un placer, tengo 22 años.</p>
      <p>Soy estudiante de la Universidad Técnica de Manabí. Me encanta hacer deporte, y uno de mis sueños es poder egresar la carrera de una manera exitosa.</p>
    </div>
  </div>
</div>

{% endblock %}