{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<header class="masthead" style="background-image: url('{% static "img/contact-bg.jpg" %}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Contacto</h1>
          <span class="subheading">Estamos a la orden</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container mt-4">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      <p>Por si surge un inconveniente, no dudes en contactarme:</p>

      <p><b>Nombre:</b> Geovanny Josue Garcia Pinargote</p>
      <p><b>Teléfono:</b> <a href="tel:0983653222">0983653222</a></p>
      <p><b>Correo:</b> <a href="mailto:ggarcia6249@utm.edu.ec">ggarcia6249@utm.edu.ec</a></p>

    </div>
  </div>
</div>

{% endblock %}